apiServer:
  extraArgs:
    authorization-mode: Node,RBAC
    audit-log-path: /var/log/kubernetes
    audit-policy-file: /etc/kubernetes/policies/audit-policy.yaml
  certSANs:
    - "{{LOADBALANCER_FQDN}}"
  extraVolumes:
  - name: "k8s-policies"
    hostPath: "/etc/kubernetes/policies"
    mountPath: "/etc/kubernetes/policies"
    readOnly: false
    pathType: Directory
  timeoutForControlPlane: 4m0s
apiVersion: kubeadm.k8s.io/v1beta2
certificatesDir: /etc/kubernetes/pki
clusterName: {{K8S_CLUSTER_NAME}}
controlPlaneEndpoint: {{K8S_CONTROL_PLANE_LB_ADDRESS}}:6443
controllerManager: {}
dns:
  type: CoreDNS
etcd:
  local:
    dataDir: /var/lib/etcd
imageRepository: k8s.gcr.io
kind: ClusterConfiguration
kubernetesVersion: v{{K8S_VERSION}}
networking:
  dnsDomain: cluster.local
  serviceSubnet: 10.96.0.0/12
scheduler: {}