---

## Change these ##
PUBLIC_IP: YOUR_PUBLIC_IP
BECOME_USER: YOUR_REMOTE_USER
LOCAL_USER: YOUR_REMOTE_USER
SSH_PUB_KEY: "SSH-PUBLIC-KEY"
SSH_PASSWD_SALT: "$1$SaltSalt$blahblahblah" # Get this from /etc/shadow (for example)

STORAGEOS_USERNAME: "USERNAME"
STORAGEOS_PASSWORD: "PASSWORD"
STORAGEOS_HOST: "192.168.0.211"


## INSTANCE CREATION ##
LIBVIRT_IMAGES: "/var/lib/libvirt/images"
VMWARE_HOST_NAME: "Host"
VMWARE_HOST: "NODE_IP"
VMWARE_USER: "root"
VMWARE_PASSWD: "PASSWORD"

## LBs ##
LOADBALANCER_FQDN: "k8s-cloud.example.co.uk"
LB_MASTER_ADDRESS: "192.168.0.100" # ACCESS IP FOR LB
K8S_CONTROL_PLANE_LB_ADDRESS: "192.168.0.210" # LB VIP
K8S_WORKERS_LB_NETWORK: "192.168.0" # Worker LB VIPs
K8S_WORKERS_LB_RANGE: 150-200 # Worker LB VIPs
LB_USER: "bal"
LB_PASSWD: "1fourall"

#KEMP_ID: "USERNAME"
#KEMP_PASSWORD: "PASSWORD"

## You'll likely want to change these ##
DHCP_GATEWAY: "192.168.0.1"

##SSL
TLS_C: GB
TLS_L: TOWN
TLS_OU: COMANY_NAME
TLS_ST: CITY

#FLUX
FLUX_GIT_USER: "GIT USERNAME" ## Git Username
FLUX_GIT_EMAIL: "GIT EMAIL" ## Git email
FLUX_GIT_REPO: "git@gitlab.com:{{FLUX_GIT_USER}}/flux-test" ## Repo to monitor
FLUX_GIT_PATHS: ## Everything in here will be deployed
  - namespace
  - workloads
  - services

## VERSIONS ##
CENTOS_VERSION: "7"
K8S_VERSION: "1.17.2"
DOCKER_VERSION: "19.03.4"
HELM_VERSION: "2.16.1"
#HELM_VERSION: "3.0.0"
STORAGEOS_CLI_VERSION: "1.5.3"
STORAGEOS_OPERATOR_VERSION: "1.5.2"
TILLER_NAMESPACES:
  - monitoring
  - gaming
  - infra
  - istio-system
ISTIO_VERSION: "1.4"

## DIRS ##
PKI_DIR: "{{playbook_dir}}/generated_files/pki"
KUBE_ADM_TOKEN_DIR: "{{playbook_dir}}/generated_files/kubeadm_tokens"