apiVersion: "storageos.com/v1"
kind: StorageOSCluster
metadata:
  name: "example-storageos"
  namespace: "storageos-operator"
spec:
  secretRefName: "storageos-api"
  secretRefNamespace: "storageos-operator"
  k8sDistro: "kubernetes"
  nodeSelectorTerms:
    - matchExpressions:
        - key: "node-role.kubernetes.io/master="
          operator: NotIn
          values:
            - ""
  images:
    nodeContainer: "storageos/node:{{STORAGEOS_OPERATOR_VERSION}}"
  csi:
    enable: true
    deploymentStrategy: deployment
  resources:
    requests:
    memory: "512Mi"