apiVersion: v1
kind: Secret
metadata:
  name: "storageos-api"
  namespace: "storageos-operator"
  labels:
    app: "storageos"
type: "kubernetes.io/storageos"
data:
  apiUsername: {{ STORAGEOS_USERNAME | b64encode }}
  apiPassword: {{ STORAGEOS_USERNAME | b64encode }}